[submodule "dotvim/gits/vim-plug"]
	path = dotvim/gits/vim-plug
	url = https://github.com/junegunn/vim-plug
	shallow = true
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
	shallow = true
