[submodule "dotvim/gits/vim-plug"]
	path = dotvim/gits/vim-plug
	url = https://github.com/junegunn/vim-plug
	shallow = true
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "zinit"]
	path = dotzinit/bin
	url = https://github.com/zdharma/zinit.git
